<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wynterque</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://wyncode.co"><img src="priv/static/images/New Wyncode Logo (1).jpg" alt="Dispute Bills">
            </a>
          </div>
          <div id="navbar3" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Home</a></li>
              <li><%= link "Job Listings", to: jobpost_path(@conn, :index) %></li>
              <li><%= link "Post a Job", to: jobpost_path(@conn, :new) %></li>
              <li class="breadcrumb">
                <%= if @current_user do %>
                  <ol class="breadcrumb-item active"><%= @current_user.username %></ol>
                  <ol class="breadcrumb-item">
                    <%= link "Log out", to: session_path(@conn, :delete, @current_user),
                                        method: "delete" %>
                  </ol>
                <% else %>
                  <ol class="breadcrumb-item"><%= link "Register", to: user_path(@conn, :new) %></ol>
                  <ol class="breadcrumb-item"><%= link "Log in", to: session_path(@conn, :new) %></ol>
                <% end %>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
      <div class="container">

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">Wyncode</p>
      </div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>












</html>
