<h2>New Job Post</h2>

<%= render "form.html", changeset: @changeset, categories: @categories,
                        action: jobpost_path(@conn, :create) %>

<%= link "Back", to: jobpost_path(@conn, :index) %>
