<div class="jumbotron">
  <%= link "Employer Log in", to: session_path(@conn, :new), class: "btn btn-primary btn-lg"  %>
  <a href="#" class="btn btn-primary btn-lg">Student Login</a>
  <div class="breadcrumb-item"><%= link "Employer Sign Up", to: user_path(@conn, :new) %></div>
</div>
